@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4f4;
    --cor-hover: #272727;

    --font-primaria: 'kroma One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho_sobremin {
    padding: 2%  0 0 15%;
}

.cabecalho__menu__about {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    padding: 5px 10px;
    border-radius: 15px;
}

.apresentacao__about {
    padding: 3% 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__texto__about {
    text-align: center;
    font-size: 1.7rem;
    font-family: var(--font-secundaria);
}

.apresentacao_titulo {
    color: var(--cor-terciaria);
}

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 0 20%;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.descrisao {
    font-size: 1.6rem;
}

.apresentacao__links__about {
    display: inline-block;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}